[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[user]
	name = Hugh Cameron
	email = hescameron@gmail.com
	signingkey = ~/.ssh/github_vm_access.pub

[gpg]
	format = ssh

[gpg "ssh"]
	program = /usr/bin/ssh-keygen
	allowedSignersFile = ~/.ssh/allowed_signers

[commit]
	gpgsign = true
{{- $gh := lookPath "gh" }}
{{- if $gh }}

[credential "https://github.com"]
	helper =
	helper = !{{ $gh }} auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !{{ $gh }} auth git-credential
{{- end }}
