[opener]
helix = [
    { run = 'hx "$@"', block = true, for = "unix" },
    { run = 'hx %*',    block = true, for = "windows" }
]

[open]
prepend_rules = [
    { mime = "text/*", use = "helix" },
    { mime = "*", use = "helix" },
]

[plugin]
prepend_fetchers = [
  { id = "git", url = "*",  run = "git" },
  { id = "git", url = "*/", run = "git" },
]

prepend_previewers = [
  { name = "*.csv",     run = "duckdb" },
  { name = "*.tsv",     run = "duckdb" },
  { name = "*.json",    run = "duckdb" },
  { name = "*.parquet", run = "duckdb" },
  { name = "*.txt",     run = "duckdb" },
  { name = "*.xlsx",    run = "duckdb" },
  { name = "*.db",      run = "duckdb" },
  { name = "*.duckdb",  run = "duckdb" },
]

prepend_preloaders = [
  { name = "*.csv",     run = "duckdb", multi = false },
  { name = "*.tsv",     run = "duckdb", multi = false },
  { name = "*.json",    run = "duckdb", multi = false },
  { name = "*.parquet", run = "duckdb", multi = false },
  { name = "*.txt",     run = "duckdb", multi = false },
  { name = "*.xlsx",    run = "duckdb", multi = false },
]
